.imaging-info-container{
    background-color: white;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.imaging-info-container:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}